@media screen and (min-width : 1800px){
    .four{
        width:80%;
    }
    .four article{
        width:22%;
        margin:10px 1.4%;
        font-size:16px;
    }
    .four .x2{
        width:47%;
        font-size:18px;
    }
    .four .x3{
        width:72%;
        font-size:20px;
    }
}
