@media screen and (max-width : 1080px){
    .main{
        width:100%;
    }
    .single{
        width:100%;
    }
    .main article{
        width:96%;
    }
    article h2{
        font-weight:normal;
        margin:10px 0;
        font-size:32px;
    }
}
@media screen and (min-width : 1080px){
    .main{
        width:500px;
    }
    .single{
        max-width:1280px;
        width:auto;
    }
    .main article{
        width:96%;
        margin:10px 2%;
    }
    article h2{
        font-weight:normal;
        margin:10px 0 20px 0;
        font-size:24px;
    }
}
img{
    border:0;
}
